@import "tailwindcss";

.mega-menu {
    z-index: 10;
  }
  
  .mega-menu ul li:hover {
    transition: color 0.3s ease;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slideDown {
    animation: slideDown 0.5s ease-in-out;
  }